

.general{
    position: relative;
    display: flex;
    flex-direction: column;

}
.logo{
    position: absolute; right: 80%;
    width: 200px;
    height: 200px;
    margin-top: 5%;
    margin-right: -10%;
}
.elresto{
    position: absolute;left: 30%;
    width: 30%;
    height: 30%;

}
.papilista{
    display: flex;
}
.lista1{
    position: relative;
    left: -30px;
}

.bottom{
    display: flex;
    align-items: center;
    width: 80%;

}
.boton{
    margin-left: 10px;
    margin-right: 20px;
}
.check{
    margin-right: 1px;
}
.texto-check{
    width: 70%;
    margin-top: 35px;
    margin-left: 5px;

}

